.header .center{
	margin-left:auto;
	margin-right:auto;
}

#banner {
	height:100%;
	width:100%;
}

/*-----------------------------------------*/

#navigation {
	text-align:center;
	height:100%;
	position:absolute;
	width:100%;
	height:50%;
	bottom:0px;
}

.header .links {
	display:inline-block;
	height:100%;
}

.header .side_container {
	display:inline-block;
	vertical-align:top;
}

#login {
	vertical-align:bottom;
	height:100%;
	width:110%;
	margin-left:1%;
	
}

#login input {
	float:left;
	margin:1%;
}




/*-------------------------------------------*/


.header .links .link {
	/*--Positioning*/
	display:inline-block;
	font-size:140%;
	height:100%;
	margin-left:5px;
	margin-right:5px;
	z-index:0;

	/*--Formatting*/
	background:linear-gradient(rgba(140,140,190,0),rgba(140,140,190,1));
	font-family: 'Hammersmith One', sans-serif;
	border-radius:5px;
}

.header .links .link a {
	text-decoration: none;
	color:rgb(10,10,10);
	text-shadow:0px -1px rgb(60,60,200);
}

.header input {
	border-radius:5px;
	background-color:rgb(220, 220, 250);
	font-family: 'Hammersmith One', sans-serif;
}


