<div
<div class="center" id="banner">
	<div id="navigation">

		<div class="links">
			<div class="link"><a href="/" class="menuItem">Home</a></div>
			<div class="link"><a href="/piglet/" class="menuItem">Piglet</a></div>
			<div class="link"><a href="/halloweentouch" class="menuItem">Halloween Touch</a></div>
			<div class="link"><a href="/swapcounter" class="menuItem">Swap Counter</a></div>
		</div>

		<!--This should only appear if the user is logged in.-->
		<div class="login">
			<form name="login" method="post" action="/login" id="login">
				<input name="username" placeholder="Username" size="10"><br>
				<input type="password" name="password" placeholder="Password" size="10">
				<input type="submit" value="Login"><br>
				<div>New?  <a href="/signup">Signup!</a></div>
			</form>
		</div>

	</div>
</div>