<div class="center" id="banner">
	<div class="spacer"></div>
	<div id="navigation">
		<a href="/" class="menuItem">Home</a>
		<a href="/piglet/" class="menuItem">Piglet</a>
		<a href="/halloweentouch" class="menuItem">Halloween Touch</a>
		<a href="/swapcounter" class="menuItem">Swap Counter</a>
		<a href="/login" class="menuItem">Login</a>
	</div>
</div>