<div class="center">
	<h1>Coming soon!</h1>
	<!--<div class="vertical_space"></div>
	<a href="/"><img id="logo" src="assets/images/pages/home/logo.png" alt="logo"/></a>
	<div id="quote">{{quote}}</div>-->
</div>