<div class="center">
	<div class="vertical_space"></div>
	<div class="signup">
		<form name="signup" method="post" action="/signup" id="signup">
			<div class="title">Pleased to make your acquaintence</div>
			<input name="username" placeholder="Username" size="25"><br>
			<input name="email" placeholder="Email" size="25"><br>
			<input type="password" name="password" placeholder="Password" size="25"><br>
			<input type="passwrod" name="password_confirm" placeholder="Confirm Password" size="25"><br>
			<input type="submit" value="Signup"><br>
		</form>
	</div>


	<script>
		
	</script>
</div>