<div class="center">
	<div class="vertical_space"></div>
	<div class="signup">
		<form name="signup" id="signup">
			<div class="title">Pleased to make your acquaintence</div>
			<input required name="username" placeholder="Username" size="25"><br>
			<input required name="email" placeholder="Email" size="25"><br>
			<input required type="password" name="password" placeholder="Password" size="25"><br>
			<input required type="password" name="password_confirm" placeholder="Confirm Password" size="25"><br>
			<input required type="submit" value="Signup"><br>
		</form>
	</div>


	<script>
		var form = document.forms["signup"];

		$("#signup").submit(function (e) {
			e.preventDefault();

			console.log('sending');
			var data = {
				username:form.elements["username"].value,
				password:form.elements["password"].value,
				email:form.elements["email"].value
			};
			if(form.elements["password"] === form.elements["password_confirm"]) {
				$.post("/signup", data).done(function (response) {
					if(response !== 'success') {
						alert("Username is already taken");
					} else {
						window.location.replace("/")
					}
				});
			} else {
				alert("Passwords must match");
			}
		});
	</script>
</div>